<!-- Contact -->
<div id="contact">
  <div class="bg-color-sky-light">
      <div class="container content-lg">
          <div class="row">
              <div class="col-sm-3 sm-margin-b-30">
                  <div class="text-right sm-text-left">
                      <h2 class="margin-b-0">Contacts</h2>
                      <p>Hire me.</p>
                  </div>
              </div>
              <div class="col-sm-8 col-sm-offset-1">
                  <div class="row">
                      <div class="col-md-3 col-xs-6 md-margin-b-30">
                          <h5>Location</h5>
                          <a href="#">Kolkata, India</a>
                      </div>
                      <div class="col-md-3 col-xs-6 md-margin-b-30">
                          <h5>Phone</h5>
                          <a href="#">+91 8584897424</a>
                      </div>
                      <div class="col-md-3 col-xs-6">
                          <h5>Email</h5>
                          <a href="mailto:#">ban.mou82@gmail.com</a>
                      </div>
                      <div class="col-md-3 col-xs-6">
                          <h5>Web</h5>
                          <a href="#">coming soon</a>
                      </div>
                  </div>
              </div>
          </div>
          <!--// end row -->
      </div>
  </div>
</div>
<!-- End Contact -->
<!--========== END PAGE LAYOUT ==========-->

<!--========== FOOTER ==========-->
<footer class="footer">
  <div class="content container">
      <div class="row">
          <div class="col-xs-6">
              <img class="footer-logo" [src]="image" alt="Aircv Logo">
          </div>
          <div class="col-xs-6 text-right sm-text-left">
              <p class="margin-b-0"><a class="fweight-700" href="#">My Portfplio</a> | All Rights Reserved.</p>
          </div>
      </div>
      <!--// end row -->
  </div>
</footer>
<!--========== END FOOTER ==========-->

<!-- Back To Top -->
<a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>
